<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartMapper">
	<insert id="insertCart" parameterType="CartDTO">
		INSERT INTO CART(
				MEMBER_ID,
				BOOK_CD,
				QUANTITY
				
		)
		VALUES (
				#{memberId},
				#{bookCd},
				#{quantity}
							
		 )
	
	</insert>
	<resultMap type="hashMap" id="joinMap">
		<result column="CART_CD" property="cartCd"/>
		<result column="BOOK_CD" property="bookCd"/>
		<result column="BOOK_NM" property="bookNm"/>
		<result column="PRICE" property="price"/>
		<result column="QUANTITY" property="quantity"/>
	</resultMap>
	<select id="selectCartList" resultMap="joinMap">
		SELECT
				C.CART_CD,
				B.BOOK_CD,
				C.QUANTITY,
				B.BOOK_NM,
				B.PRICE
		FROM
				CART C
			INNER JOIN BOOK B
					ON	B.BOOK_CD = C.BOOK_CD
			INNER JOIN MEMBER M
					ON	M.MEMBER_ID = C.MEMBER_ID
		WHERE
				C.MEMBER_ID=#{memberId}
	</select>
		
	<update id="updateCart" parameterType="CartDTO">
		UPDATE
				CART
		SET
				QUANTITY = #{quantity}
		WHERE
				CART_CD = #{cartCd}
	</update>
	
	<delete id="deleteCart" parameterType="int">
		DELETE FROM
				CART
		WHERE
				CART_CD=#{cartCd}
	</delete>
	
	<delete id="clearCart" parameterType="CartDTO">
		DELETE FROM
				CART
		WHERE
				MEMBER_ID=#{memberId}
	</delete>
	
	<update id="stockBook" parameterType="hashMap">
		UPDATE
				BOOK B
		INNER JOIN CART C ON B.BOOK_CD = C.BOOK_CD
		SET 
				B.STOCK = B.STOCK - C.QUANTITY
		WHERE	
				BOOK_CD=#{bookCd}
				AND B.STOCK >= C.QUANTITY
	</update>
</mapper>